  
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    </head>
<body class="{{body}}" style="background-color:#EDF0F5;">
    
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="index.html">Iotizacion</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0 " id="sidebarToggle" href="#!" (click)="barra()"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                <div class="input-group">
                </div>
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">Settings</a></li>
                        <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#" (click)="logout()">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Devices</div>
                            <a class="nav-link active" style="cursor: pointer;" (click)="dashboard()">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Dispositivos
                            </a>
                            <div class="sb-sidenav-menu-heading">Data</div>
                            <a class="nav-link collapsed" href="#"  data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Jardin
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" (click)="data()" style="cursor: pointer;">Temperatura</a>
                                    <a class="nav-link" href="layout-sidenav-light.html">Light Sidenav</a>
                                </nav>
                            </div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                                <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                                Administrar
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                        Dispositivos
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" (click)="agregar()">Agregar Dispositivos</a>
                                            <a class="nav-link" (click)="listado()">Visualizar dispositivos</a>
                                            <a class="nav-link" href="password.html">Forgot Password</a>
                                        </nav>
                                    </div>
                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">
                                        Error
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href="401.html">401 Page</a>
                                            <a class="nav-link" href="404.html">404 Page</a>
                                            <a class="nav-link" href="500.html">500 Page</a>
                                        </nav>
                                    </div>
                                </nav>
                            </div>
                            <div class="sb-sidenav-menu-heading">Addons</div>
                            <a class="nav-link" href="charts.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                Charts
                            </a>
                            <a class="nav-link" href="tables.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Tables
                            </a>
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Logged in as:</div>
                        Start Bootstrap
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Sistem Iot</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Ths sistem is develpoment for the bussines</li>
                        </ol>

<!------------------------------------------Aqui inicia la plantilla------------------------------------------->
                        <span *ngIf="status_devices == 'true'">
                            <span *ngFor="let device of array1">
                                
                                <!--#################Apagador##############################-->
                                <span *ngIf="device.tipo_id == 1">
                                    <div class="row" style="float: left; margin-right: 20px;">
                                        <div class="card bg-info text-white mb-3" style="max-width: 15rem; margin-left: 10px;">
                                            <div class="card-header">Apagador</div>
                                            <div class="card-body">
                                              <span><p style="cursor: pointer;" (click)="edita(device.id,device.tipo_id)">{{device.nombre}}</p>
                                                    <span *ngFor="let states of array2">
                                                        <!--si es verdadero-->
                                                        <span *ngIf="device.id == states.device_id && states.state == true">
                                                            <label class="switch">
                                                                <input type="checkbox" checked (click)="updatenewState($event, states.device_id, device.nombre)">
                                                                <span class="slider round"></span>
                                                            </label>
                                                        </span>

                                                        <!--si es falso-->
                                                        <span *ngIf="device.id == states.device_id && states.state == false">
                                                            <label class="switch">
                                                                <input type="checkbox" (click)="updatenewState($event, states.device_id, device.nombre)">
                                                                <span class="slider round"></span>
                                                            </label>
                                                        </span>
                                                    </span>
                                              </span>
                                            </div>
                                        </div>
                                    </div>
                                </span>
                                <!--########################RGBcolor####################################-->



                                
                            </span>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>

                            <span *ngFor="let device of array1">
                                <span *ngIf="device.tipo_id == 2">
                                    <span *ngFor="let colors of array3; let i = index">
                                        <span *ngIf="device.id == colors.device_id">
                                            <div class="row" style="float: left; margin-right: 20px;">
                                                <div class="card bg-info text-white mb-3" style="max-width: 15rem; margin-left: 10px; background: #59C173;  /* fallback for old browsers */
                                                background: -webkit-linear-gradient(to right, #5D26C1, #a17fe0, #59C173);  /* Chrome 10-25, Safari 5.1-6 */
                                                background: linear-gradient(to right, #5D26C1, #a17fe0, #59C173); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */">
                                                <div class="card-header">Iluminacion RGB</div>
                                                <div class="card-body">
                                                <span><p (click)="edita(device.id,device.tipo_id)" style="font-size: 30px; cursor: pointer;">{{device.nombre}}</p>
                                                    <span *ngIf="colores_final[i][0]['id'] == device.id">
                                                    </span>
                                                    <input type="color" name="color" id="{{device.id}}" value="{{colores_final[i][0]['color']}}" style="margin: 20px; height: 100px; width: 100px; border-radius: 50%; padding: 0; overflow: hidden;">
                                                    <button class="btn btn-primary" (click)="updatenewIluminacion(device.id, $event)" >Aplicar Color</button> <br>
                                                </span>
                                                </div>
                                            </div>
                                        </div>
                                        </span>
                                    </span>
                                        
                                </span>
                            </span>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <span *ngFor="let device of array1">
                                <span *ngIf="device.tipo_id == 4">
                                    <span *ngFor="let cortina of array4; let i = index">
                                        
                                        <div class="row bg-success w-25 p-3 mt-0" style="border-radius: 5%;">
                                            <h4>Temperatura</h4>
                                            {{cortina.valor}}
                                            <div class="card text-white bg-danger mb-3" style="max-width: 15rem;">
                                                <div class="card-header">Temperatura</div>
                                                <div class="card-body">
                                                  <p class="card-text" style="font-size: 50px;">10</p>
                                                    </div>
                                              </div>
                                              <div class="card text-white bg-primary mb-3" style="max-width: 15rem;">
                                                <div class="card-header">Humedad</div>
                                                <div class="card-body">
                                                  <p class="card-text"style="font-size: 50px;">10</p>
                                                </div>
                                              </div>
                                        </div>
                                    </span>
                                </span>
                            </span>



                        </span>
                        <span *ngIf="status_devices == 'false'">
                            {{message}}
                        </span>
                        <div class="row" style="float:left;">
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-primary text-white mb-4">
                                    <div class="card-body">Apagador</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                      <span><p>Cuarto</p>
                                      <!-- Rounded switch -->
                                      
                                           <label class="switch">
                                            <input type="checkbox" [(ngModel)]="state" (click)="updateState($event)">
                                        <span class="slider round"></span>
                                      </label>                                            
                                      </span>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <p>aqui se separan los nuevos metodos</p>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-warning text-white mb-4">
                                    <div class="card-body">Cortina</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <span><p>Cuarto</p>
                                      <input type="range" value="{{valor}}" (click)="updateValor($event)">
                                        </span>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                             <div class="col-xl-3 col-md-6">
                                <div class="card bg-danger text-white mb-4" style="background: #59C173;  /* fallback for old browsers */
                                background: -webkit-linear-gradient(to right, #5D26C1, #a17fe0, #59C173);  /* Chrome 10-25, Safari 5.1-6 */
                                background: linear-gradient(to right, #5D26C1, #a17fe0, #59C173); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                                ">
                                    <div class="card-body">Iluminacion RGB</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        
                                        <div class="container" style="padding: 10px;">
                                            <button class="btn btn-primary" (click)="updateIluminacion()">Aplicar Color</button> <br>
                                            <input type="color" name="" id="" value="{{hexa}}" [(ngModel)]="hexa" name="hexa" style="margin: 20px; height: 100px; width: 100px; border-radius: 50%; padding: 0; overflow: hidden;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        
                           
                        </div>
<!------------------------------------------Aqui inicia la plantilla------------------------------------------->

                    </div>
                </main>
                <app-footer></app-footer>
            </div>
        </div>
       

</body>


