<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
<br>
<br>

<div class="login">
  <h2 class="nonactive" (click)="login()"> sign in </h2>

  <h2 class="active"> sign up </h2>
  <form [formGroup]="createForm" (ngSubmit)="create(createForm.value)" id="login-form" method="post">
    


    <input type="text" class="text" name="name" formControlName="name">
    <span>name</span>
    <br>    
    <br>

    <input type="text" class="text" name="lastname" formControlName="lastname">
    <span>lastname</span>
    <br>
        <input type="text" class="text" name="username" id="username" formControlName="user">
     <span>email</span>
    <br>
    <input type="password" class="text" name="password" id="password" formControlName="password">
    <span>password</span>
    <br>
    <br>




    <button class="signin" type="submit">
      Sign Up
    </button>


    <hr>

  </form>

</div>

